*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    min-width: 320px;
    font-family: "微软雅黑","Microsoft YaHei";
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

/*头部样式*/
header{
    position: relative;
    font-size: 1.2em;
    height: 2.7em;
    line-height: 2.7em;
    background-color: #4ccde0;
}

header .back{
    position: absolute;
    left: 0;
    top: 0;
    height: 2.7em;
    width: 2.7em;
    line-height: 999em;
    overflow: hidden;
    color: transparent;
    background: url("../images/icon_arr_back.png") no-repeat center / auto 45%;
}

header .menu{
    position: absolute;
    right: 0;
    top: 0;
    height: 2.6em;
    width: 2.6em;
    line-height: 999em;
    overflow: hidden;
    color: transparent;
    background: url("../images/icon_arr_more.png") no-repeat center / auto 40%;
}

header .title{
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
}

.date{
    line-height: 2.5em;
    height: 2.5em;
    color: #999;
    padding-left: 1.125em;
}

.content{
    border-top: 1px solid #e2e2e2;
    background: #fff;
    overflow: hidden;
}

.list{
    width: 96%;
    float: right;
}

.list li{
    line-height: 3em;
    height: 3em;
    border-bottom: 1px solid #e2e2e2;
}

.list li .label{
    float: left;
    width: 26%;
    color: #999;
}

.list li .detail{
    float: right;
    width: 72.3%;
    color: #666;
}